*{
	padding:0px;
	margin:0px;  
}

html,body{
	height:100%;
}

body{
	background-color:black; 
}

#title-home{
	width:90%;
	margin-top: 3.2%; 
	margin-left: 5%; 
	margin-right: 5%;
}

#button-init{
	width:70%;
	margin-top: 45%; 
	margin-left: 15%; 
	margin-right: 15%;
}